.color {
    background-color: #777777;
}

.color1 {
    background-color: #dcdcdc;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.height-100p {
    height: 100px;
}

.padding {
    padding-top: 20px;
}

.main {
    height: 500px;
}

.r6 {
    width: 15%;
    height: 40%;
}

.width-31 {
    width: 31%;
}

.h-45 {
    height: 45%;
}

@media screen and (max-width: 600px) {
    .media1 {
        flex-direction: column;
    }
    .media_min2{
        margin-top: 10px;
        width: 100%;
    }
    .media2{
        flex-direction: column;
    }
.hed1{
    width: 100%!important;
    justify-content: inherit;
}
}

